/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y colores globales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f9fe; /* Fondo principal claro */
  color: #134a67; /* Texto base oscuro */
  line-height: 1.6;
}

/* Estilo de enlaces */
a {
  color: #21aae1; /* Azul principal */
  text-decoration: none;
}

a:hover {
  color: #1084b9; /* Azul oscuro */
}

/* Botones */
button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  color: #0e6996;
}

/* Footer */
footer {
  background-color: #134a67;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
