/* Navbar container */
.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    box-sizing: border-box; 
    z-index: 1000;
    overflow: hidden; 
  }
  
  /* Logo container */
  .navbar-logo img {
    height: 50px;
    width: auto;
    max-width: 100%; 
  }
  
  .navbar-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar-list li {
    display: inline;
  }
  
  .navbar-list a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block; 
    transition: background-color 0.3s ease;
  }
  
  .navbar-list a:hover {
    background-color: #ddd;
    color: black;
  }
  


  /* Contenedor de botones */
.navbar-buttons {
  display: flex;
  gap: 10px;
}

/* Botones */
.btn-login, .btn-register {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login {
  background-color: #fff;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease; /* Animación suave */
}

.btn-login:hover {
  color: #21AAE1; /* Cambia el color del texto a negro */

}

.btn-register {
  background-color: #21AAE1;
  color: white;
}

.btn-register:hover {
  background-color: #21AAE1; /* Cambia el color de fondo */
  color: black; /* Cambia el color del texto a negro */
  transition: color 0.3s ease, background-color 0.3s ease; /* Animación suave */
}
