/* Contenedor principal */
.register-container {
    position: absolute;
    top: 50%;        /* Mueve el elemento al 50% del alto */
    left: 50%;       /* Mueve el elemento al 50% del ancho */
    transform: translate(-50%, -50%);  /* Ajusta para centrar completamente */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  /* Formulario de registro */
  .register-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  